################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RTRendererCUDA/x64/Debug
/RTRendererCUDA/RTRendererCUDA.sln
/RTRendererCUDA/RTRendererCUDA/RTRendererCUDA.vcxproj
/RTRendererCUDA/RTRendererCUDA/RTRendererCUDA.vcxproj.user
/RTRendererCUDA/.vs/RTRendererCUDA/v16
/RTRendererCUDA/RTRendererCUDA/x64/Debug/RTRendererCUDA.tlog
/RTRendererCUDA/RTRendererCUDA/x64/Debug
