################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RTRendererCUDAQT/.vs/RTRendererCUDAQT/v16
/RTRendererCUDAQT/RTRendererCUDAQT/x64
/RTRendererCUDAQT/x64
/RTRendererCUDAQT/RTRendererCUDAQT.sln
/RTRendererCUDAQT/RTRendererCUDAQT/RTRendererCUDAQT.vcxproj
/RTRendererCUDAQT/RTRendererCUDAQT/RTRendererCUDAQT.vcxproj.filters
/RTRendererCUDAQT/RTRendererCUDAQT/RTRendererCUDAQT.vcxproj.user
/RTRendererCUDAQT/RTRendererCUDAQT.vcxproj
/RTRendererCUDAQT/earthmap.jpg
/RTRendererCUDAQT/RTRendererCUDAQT.vcxproj.filters
/RTRendererCUDAQT/RTRendererCUDAQT.vcxproj.user
